
//  默认色调
$primary: #4A90FA;

/*内容*/
$bg-white: #ffffff;
$bg-gray: #F6F6F6;

/*字体颜色*/
$font-blue: #4A90FA;
$font-black: #222222;
$font-gray: #777777;
$font-red1: #EE6161;

/*字体大小*/
$font-size-small-s: 12px;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-medium-x: 18px;
$font-size-large: 20px;
$font-size-large-x: 24px;

/*边框*/
$border-gray:#D7D7D7;

/*间距*/
$space1: 10px;
$space2: 7px;
